<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/basecompany::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Admin-Add Company</title>

</head>

<body>
	<section class="banner">
		<div class="card mt-5" style="width:50%;background-color: transparent; margin-left:30%">
		<div class="card-body">
		
		<h1 class="text-center text-white"><i class="fas fa-building fa-fw"></i><b>  Add Company</b></h1>
		<div class="container-fluild mt-1">
		
		<div class="row">
		<div class="col-md-10 offset-md-1">

		<form action="#" th:action="@{/admin/process-company}" th:method="post" th:object="${company}" 
		 class="mt-2">
		 
			<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert mt-2 p-2"
						role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}">
						</th:block>
			</div>
					
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fa fa-plus fa-fw" style="font-size: 30px;"></i>
					</div>
					
				</div>
				<input type="text" name="companyName" placeholder="Enter Company Name" class="form-control" required="required"/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-rupee-sign fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" name="turnover" placeholder="Enter Company Turnover" class="form-control" required/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-chalkboard-teacher fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" name="CEO" placeholder="Enter CEO Name" class="form-control" required/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-users fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" name="BOD" placeholder="Enter BOD Name" class="form-control" required/>
			</div>
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-industry fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				
				
				<select  name="sectorname" placeholder="Enter Sector Name" class="form-control" required> 
				      <option value="" disabled selected hidden><h5 style="color: gray;">Choose Sector</h5></option>
					  <option value="Finance">Finance</option>
					  <option value="Health Care">Health Care</option>
					  <option value="Pharmaceuticals">Pharmaceuticals</option>
					  <option value="Hotels and Tourism">Hotels and Tourism</option>
					  <option value="Food">Food</option>
					  <option value="Software and Internet Sevices">Software and Internet Sevices</option>
					  <option value="Automobiles">Automobiles</option>
					  <option value="Energy">Energy</option>
					  <option value="Consumer Discretionary">Consumer Discretionary</option>
				</select>
			</div>
			
			<div class="form-group mt-3">
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
							<i class="fas fa-quote-left fa-fw" style="font-size: 30px;"></i>
					</div>
					</div>
				<textarea id="mytextarea" name="writeUp" class="form-control" rows="10" placeholder="Enter Company description" required>
				
				</textarea>
			</div>
			</div>
			
			<div class="container text-center mt-2">
			<button class="btn bg-primary text-white" type="submit">Save Company</button></div>
		</form>
		</div>
		
		</div>
		</div>
		
		</div>
		</div>
		
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		 <script>
		      tinymce.init({
		        selector: '#mytextarea'
		      });
    		</script>
	</section>	
</body>
</html>

