<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
	<section class="aboutimg">

		<div class="container text-center mt-5">
		<br>
		<br>
		     <div class="text-center">
		     <h1>STOCK MARKET CHARTER</h1>
		     <p>This Software System lets Admin to upload Stock Price of a Company(which is listed in a Stock Exchange) at different points of time. 
		     It need to support multiple Stock Exchanges. And the registered Users should be able to generate various charts to perform Stock Market performance of various Companies or Sectors over certain period of time. 
		     </p>
		     </div>
		     
			<div class="row">
				<div class="col-lg-6  mx-auto">
				<br>
					<div class="flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front mt-2">
							<br>
							    <h1>ADMIN</h1>
								<img th:src="@{/image/admin.png}" 
									style="width: 300px; height: 300px;">
							</div>
							<div class="flip-card-back">
							<br>
							<br>
								<h1>Admin</h1>
								
								<div>
								<p>Admin can perform below operations</p>
								<ui>
								<li>Manage Stock Exchanges</li>
								<li>Manage Company</li>
								<li>Import Data</li>
								</ui>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6  mx-auto ">
				<br>
					<div class="flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front mt-2">
							<br>
							<h1>USER</h1>
								<img th:src="@{/image/user.png}"
									style="width: 300px; height: 300px;">
							</div>
							<div class="flip-card-back">
							<br>
							<br>
								<h1>User</h1>
								<div>
								<p>User can perform below operations</p>
								<ui>
								<li>Search for a company </li>
								<li>View IPOs </li>
								<li>Generate Comparison Charts </li>
								</ui>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>