<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Email Confirmation</title>
</head>
<body>
	<section class="emailimage" th:object="${userEntity}" >
		<div class="row">
			<div class="col-md-4 offset-md-4 mt-5">
			<br>
			<br>
			<br>
			<br>
				<div class="card">
					<div class="text-center mt-3">
						<h4 class="text-uppercase font-bold m-b-0" style="color: #6d4c41"><em><b>Bonjour..!!</b></em></h4>
					</div>
					<br>
					<div class="image text-center">
						<img class="icon" th:src="@{/image/email.png}" src="" alt="" />
					</div>
					<br>
					<div class="container text-center">
						<p>
							A email has been send to <span style="font-weight: bolder;" th:text="${userEntity.email}"></span>. Please check for an
							email from Stock Market Charter Team and click on the included
							link to verify your account.
						</p>
					</div>
					<br>
				</div>

			</div>
		</div>

	</section>

</body>
</html>




