<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>SignUp</title>
</head>
<body>
	<section class="formimage">

		<div class="row">

			<div class="col-md-4 offset-md-4">
				<br>
				<div class="my-card mt-5 p-4">

					<span th:text="${error}"></span>
					
					<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert mt-2 p-2"
						role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}">
						</th:block>
					</div>

					<div class="image">
						<img class="img" th:src="@{/image/registration.png}" src="" alt="" />
					</div>

					<h1 class="text-center">
						<b>Register</b>
					</h1>

					<br>

					<form th:action="@{/register}" th:method="post"
						th:object="${userEntity}" action="">

						<div class="mb-3">

							<div class="form-group">
								<label for="name_field" class="form-label">User Name</label> 
								<input
									type="text" name="username" class="form-control"
									th:value="${userEntity.username}"
									th:classappend="${#fields.hasErrors('username')?'is-invalid':''}"
									id="username_field" aria-describedby="textHelp"
									placeholder="Enter username" required />

								<div class="invalid-feedback"
									th:each="e: ${#fields.errors('username')}" th:text="${e}"></div>

							</div>
							
							
							<div class="row">
								<div class="col">
									<label for="fname_field" class="form-label">First Name</label> 
									<input type="text" class="form-control" th:value="${userEntity.firstname}"
										name="firstname" id="fname_field"  placeholder="First name">
								</div>
								<div class="col">
									<label for="lname_field" class="form-label">Last Name</label> 
									<input type="text" class="form-control" th:value="${userEntity.lastname}"
									name="lastname" id="lname_field"  placeholder="Last name">
								</div>
							</div>
							
							

							<div class="form-group">
								<label for="email_field" class="form-label">Email
									address</label>
									<input type="email" name="email" class="form-control"
									th:value="${userEntity.email}"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
									id="email_field" aria-describedby="emailHelp"
									placeholder="Enter email " required />
								<div class="invalid-feedback"
									th:each="e: ${#fields.errors('email')}" th:text="${e}"></div>
							</div>

						
							<div class="form-group">
								<label for="password_field" class="form-label">Password</label>
								<input type="password" name="password" id="password_field"
									class="form-control"
									th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
									aria-describedby="passwordHelpBlock"
									placeholder="Enter password " required />
								<div class="invalid-feedback"
									th:each="e: ${#fields.errors('password')}" th:text="${e}"></div>
							</div>

							<div class="form-group">
								<label for="phone" class="form-label">Phone number</label> <input
									type="tel" id="phone" name="mobileNumber" class="form-control"
									th:value="${userEntity.mobileNumber}"
									th:classappend="${#fields.hasErrors('mobileNumber')?'is-invalid':''}"
									pattern="[0-9]{3}[0-9]{4}[0-9]{3}"
									aria-describedby="phoneHelpBlock" placeholder="123-4567-890"
									required />
								<div class="invalid-feedback"
									th:each="e: ${#fields.errors('mobileNumber')}" th:text="${e}"></div>
							</div>
							<br>
							<div class="form-group form-check">

								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept
									terms and conditions</label>
							</div>
							
							<div class="d-grid gap-2 d-md-block text-center">
								<button class="btn bg-primary text-white" type="submit">Submit</button>
								<button class="btn btn-warning" type="reset">Reset</button>
							</div>

							<div class="text-center">
									<div class="login-or">
										<hr class="hr-or">
										<span class="span-or">or</span>
									</div>
								</div>

								<div class="form-group">
									<p class="text-center">
										Already have a account? <a href="#" th:href="@{/login/}" id="login">Login</a>
									</p>
								</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>




